<!DOCTYPE html>
<html>
<head>
  <title>Backreact</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  <div id='container'>

  </div>
  <%= javascript_include_tag 'application' %>

 <script type="text/javascript" src="https://w.soundcloud.com/player/api.js"></script>

</body>
</html>
